.categoriesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  background-color: #e3f2fd;
  border-radius: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 5px;
}
