.categoryButton {
  font-size: 14px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  background-color: #fff;
  border: none;
  color: #0056b3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 300ms, transform 300ms;
}

.categoryButton:hover {
  background-color: #bbdefb;
  transform: translateY(-2px);
}

.active {
  background-color: #0056b3;
  color: #fff;
}
