.home {
  min-height: 100vh;
  padding-top: 0.0625rem;
}

.fixedHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

.faqContainer {
  margin-bottom: 0.625rem;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 1.25rem);
  font-size: 1rem; 
}


.faqItem {
  margin-bottom: 1rem; 
}


.faqQuestion {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

.faqAnswer {
  font-size: 1rem;
  color: #666;
}


@media screen and (max-width: 768px) {
  .faqContainer {
    font-size: 0.875rem;
  }

  .faqQuestion {
    font-size: 1rem;
  }
}
